<%- include("header"); -%>

<body>

<h1>Search results</h1>

<div class="box">
<% data["Search"].forEach(function(movie){  %>
  <ul class="list-group list-group-flush">
  <li class="list-group-item"><strong><%= movie["Title"] %> </strong> - <%= movie["Year"] %> - <a href="/detail?name=<%= movie["Title"] %>"> More details</a></li>
  </ul>
  <img id="img1" src= <%= movie["Poster"] %> </img>
<% }) %>

<br>

<form class="item" action="/" method="get">
  <button type="submit" class="btn btn-info btn-lg">Search again</button>
</form>
</div>

</body>

<%- include("footer"); -%>
